mixin detalle(detalle1, detalle2, detalle3, detalle4, detalle5)
	.caja--detalles
		ul
			li= detalle1
			li= detalle2
			li= detalle3
			li= detalle4
			li= detalle5 
	

mixin caja(imagen, titulo)
		.caja
			.caja__imagen: img(src="./images/"+imagen, alt="Organizador de Ropa")
			h3=titulo
			

head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="description" content="E-comerce")
	meta(name="robots" content="index,follow")
	link(rel="preconnect", href="https://fonts.googleapis.com")
	link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
	link( href="https://fonts.googleapis.com/css2?family=Acme&display=swap", rel="stylesheet")
	title MaxiCusco.net
	link(rel="stylesheet", href="./css/style.css")
	link(rel="stylesheet", href="./css/tablet.css", media="(min-width: 480px)")